<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Player</title>
</head>

<body>
    <video id="video" style="display:none" width="640" height="360" controls>
        <source type="video/mp4">
        Your browser does not support playing this video.
    </video>
    <canvas id="canvas" width="512" height="480"></canvas>
    <button id="connectWS">Connect WS</button>
    <button id="pause">Pause</button>
    <button id="resume">Resume</button>
    <script src="/static/js/script.js"></script>
</body>

</html>